.App {
    flex: 1;
    min-height: 100%; /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    /* Align the bootstrap's container vertically */

    align-items: center;

    /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
    width: 100%;
    justify-content: center;
}
.barChart {
    height: 1000px;
}
